
body {
    height: 97vh;
}
.main-container {
    height: 100%;
    width: 100%;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}

.items {
    width: 400px;
}
















