* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    min-height: 98vh;
    width: 100%;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}

.attribution {
    font-size: 11px;
}


















