
.main-container {
    min-height: 97vh;
    width: 100%;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}


















